div {
    //border: 1px solid black;
}

.info {
    float: left;
}

.direct-control {
    float: left;
    padding: 10px;
}

.direct-control button{
    background-color: lightgray;
    display: block;
    min-width: 60px;
    min-height: 60px;
}

#up{
    background-image: url(arrow-up.png);
    background-size: 100%;
}

#up.passive {
    background-color: white;
    
}

#up.active {
    background-color: #00AAC3;
}

#down{
    background-image: url(arrow-down.png);
    background-size: 100%;
}

#down.passive {
    background-color: white;
}

#down.active {
    background-color: #00AAC3;
}

#left {
    background-image: url(arrow-left.png);
    background-size: 100%;
}

#left.passive {
    background-color: white;
}

#left.active {
    background-color: #00AAC3;
}

#right {
    background-image: url(arrow-right.png);
    background-size: 100%;
}

#right.passive{
    background-color: white;
}

#right.active {
    background-color: #00AAC3;
}

.commands {
    clear: left;
    padding: 5px 0px;
}

.route-input {
    padding: 5px 0px;
}

.route-input select {
    width: 65px;
    margin: 2px;
}

.route-input input {
    box-sizing: border-box;
    width: 65px;
    margin: 2px;
}
