div{
    color:black;
    border: 2px;
}

.direct-control {
    float: left;
    border: solid red;
    width: auto;
    padding: 5px;
}

.direct-control button{
    background-color: lightgray;
    display: block;
    min-width: 60px;
    min-height: 60px;
}


#up.passive {
    background-image: url(arrow-up.png);
    background-size: 100%;
}

#up.active {
    background-image: url(arrow-up-active.png);
    background-size: 100%;
}

#down.passive {
    background-image: url(arrow-down.png);
    background-size: 100%;
}

#down.active {
    background-image: url(arrow-down-active.png);
    background-size: 100%;
}

#left.passive {
    background-image: url(arrow-left.png);
    background-size: 100%;
}

#left.active {
    background-image: url(arrow-left-active.png);
    background-size: 100%;
}

#right.passive {
    background-image: url(arrow-right.png);
    background-size: 100%;
}

#right.active {
    background-image: url(arrow-right-active.png);
    background-size: 100%;
}

.info {
    border: solid purple;
}

.commands {
    float: right;
    border: solid blue;
}

.route-input {
    border: solid green;
}

.route-input input {
    width: 50px;
}


