.button{
    display: inline-block;
}

div{
    color:black;
    border: 2px;
}

.buttons {
    float: left;
    border: solid red;
    position: relative;
    width: auto;
    padding: 5px;
}

#up {
    display: table;
    margin: auto;
}

#right {
    float:right;
}

#left {
    float: left;
}

button{
    display: block;
    min-width: 60px;
    min-height: 60px;
}

#upB {
    background: url(arrow-up.png);
    background-size: 100%;
}
#downB {
    background: url(arrow-down.png);
    background-size: 100%;
}
#leftB {
    background: url(arrow-left.png);
    background-size: 100%;
}
#rightB {
    background: url(arrow-right.png);
    background-size: 100%;
}