div {
    //border: 1px solid black;
}

.info {
    float: left;
}

.direct-control {
    float: left;
    padding: 10px;
}

.direct-control button{
    background-color: lightgray;
    display: block;
    min-width: 60px;
    min-height: 60px;
}

#up.passive {
    background-image: url(arrow-up.png);
    background-size: 100%;
}

#up.active {
    background-image: url(arrow-up-active.png);
    background-size: 100%;
}

#down.passive {
    background-image: url(arrow-down.png);
    background-size: 100%;
}

#down.active {
    background-image: url(arrow-down-active.png);
    background-size: 100%;
}

#left.passive {
    background-image: url(arrow-left.png);
    background-size: 100%;
}

#left.active {
    background-image: url(arrow-left-active.png);
    background-size: 100%;
}

#right.passive {
    background-image: url(arrow-right.png);
    background-size: 100%;
}

#right.active {
    background-image: url(arrow-right-active.png);
    background-size: 100%;
}

.commands {
    clear: left;
    padding: 5px 0px;
}

.route-input {
    padding: 5px 0px;
}

.route-input select {
    width: 65px;
    margin: 2px;
}

.route-input input {
    box-sizing: border-box;
    width: 65px;
    margin: 2px;
}

.route-input button {
    width: 55px;
    margin: 2px;
}


