<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <script src="../static/scripts.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/globals.css">
</head>
<body>
    <h1>hello world!!!!</h1></br>test 123 test!!
    <div class="button" id="up" ><button type='button' name="up" onmousedown="doUp()">up</button></div>
    <div class="button" #left ><button type='button' name="left" onmousedown="doLeft()">left</button></div>
    <div class="button" #down><button type='button' name="down" onmousedown="doDown()">down</button></div>
    <div class="button" #right><button type='button' name="right" onmousedown="doRight()">right</button></div>
</body>
</html>