<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>home</title>
        <script type="text/javascript" src="{{url_for('static', filename='jquery.js') }}"></script>
        {{ JSGlue.include() }}
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <!--<script type="text/javascript" src="{{url_for('static', filename='socket.io.js') }}"></script> dit is een verkeerde versie-->
        <script type="text/javascript" src="{{url_for('static', filename='scripts.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="../static/styles/globals.css">
    </head>
    <body>
        <h1>Robot Control</h1>
        <div class="info">
            <table>
                <thead><tr><td>de fotostream</td></tr></thead>
                <tbody>
                <tr><td><button type="submit" id="video_button" onmousedown="startStream()">start stream</button></td></tr>
                <tr><td id="video_stream"></td></tr>
                </tbody>
            </table>
        </div>
        <div class="direct-control">
            <table>
                <!--<tr><td colspan="3"><form action="/echo" method="POST">
                    <input type="text" name="text">
                    <input type="submit" name="my-form" value="Send">
                </form></td> </tr>-->
                <!-- TODO: een messagebox maken (in jinja2) die meldingen doorgeeft  -->
                <tr>
                    <td colspan="3" align="center">
                        <button type='button' id="up" class="passive" onmousedown="doUp()" onmouseup="stopUp()"></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type='button' id="left" class="passive" onmousedown="doLeft()" onmouseup="stopLeft()"></button>
                    </td>
                    <td>
                        <button type='button' id="down" class="passive" onmousedown="doDown()" onmouseup="stopDown()"></button>
                    </td>
                    <td>
                        <button type='button' id="right" class="passive" onmousedown="doRight()" onmouseup="stopRight()"></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="commands"><!-- deze knoppen kunnen gewoon ahv submit werken en submit  overschrijven in jquery -->
            <form id="line" method="POST" action='#'><input type='submit' value="2m straight line"></form>
            <form id="square" method="POST" action='#'><input type='submit' value="1m square"></form>
            <form id="circle" method="POST" action='#'><input type='submit' value="50cm radius circle"></form>
        </div>
        <div class="route-input">
            <select>
                <option value="streets">streets</option>
                <option value="meters">meters</option>
            </select>
            <!--start-->
            <button type='button' name="rStart">START</button>
            <br>
            <!--left-->
            <input min='0' type='number' name="rLeft" value="1">
            <button type='button'>LEFT</button>
            <br>
            <!--right-->
            <input min='0' type='number' name="rRight" value="1">
            <button type='button'>RIGHT</button>
            <br>
            <!--stop-->
            <input min='0' type='number' name="rStop" value="1">
            <button type='button'>STOP</button>
            <br>
        </div>

    </body>
</html>
